@import "tailwindcss";

@theme {
  --color-txt-primary: #BCBCBC;
  --color-txt-secondary: #EFEFEF;

  --color-bg-primary: #0D0D0D;

  --color-accent: #FFAA00;
  --color-golden: #D39A15;
  --color-bronze: #CBB685;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw 8vh;
}

body {
  color: #BCBCBC;
  background-color: #0D0D0D;
}

.progress-timeline {
  animation-name: progress-timeline;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: left;
}

@keyframes progress-timeline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}